ul.menu {	
	width: 100%;
}
ul.menu li {
	display: inline-block;
	margin-right: 10px;	
}
ul.menu li a {	
	border: 1px solid #db1174;
	padding: 5px;	
	display: inline-block;
	border-radius: .3em;
}
ul.menu li.current a {
	background: #db1174;
	color: #FFF;
}

.Inputfields .InputfieldMarkup .InputfieldContent {
	margin-top: 0;
}
